@import url('@vuepress-reco/tailwindcss-config/lib/client/styles/tailwindcss-base.css');

@layer components {
   .site-name-light {
      display: block;
      width: 200px;
      height: 64px;
      background-image: url('/logo.svg');
      background-size: 200px 64px;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
   }

   .site-name-dark {
      display: block;
      width: 200px;
      height: 64px;
      background-image: url('/logoDark.svg');
      background-size: 200px 64px;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
   }
}

.site-name {
   @apply site-name-light;
   @apply dark:site-name-dark
}